<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Schema (admin):</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Namn</th>
                <th>Email</th>
                <th>Datum</th>
                <th>Tid</th>
                <th>-</th>
            </tr>
        </thead>
        <tbody>
            <% bookings.forEach(item=> { %>
                <tr>
                    <td>
                        <%= item.name %>
                    </td>
                    <td>
                        <%= item.email %>
                    </td>
                    <td>
                        <%= item.date %>
                    </td>
                    <td>
                        <%= item.time %>
                    </td>
                    <td>
                        <form method="POST" action="/cancel-booking">
                            <input type="hidden" name="booking_id" value="<%= item.id %>">
                            <button type="submit">Avboka</button>
                        </form>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
</body>

</html>